
.text-large{
    font-size: 22px;
    
}

.text-gray{
    color: $gray-600;
    
}

.text-big{
    font-size: 20px;
    
}

.text-small{
    font-size: 16px;
    
}

.text-smallest{
    font-size: 13px;
    
}


