$pink: #fc047c;
$white: #fff;
$gray5: darken($white, 5%);
$gray25: darken($white, 25%);

.filters {
	padding: 5rem 2rem;
	background-color: $white;
	.ui-slider-handle {
		width: 3rem;
		height: 3rem;
		top: -1.2rem;
		border: 0.6rem solid $gray-900;
		border-radius: 50%;
		//margin-left: -1.5rem;
		transform: translateX(-0.9rem);
		&:focus, &:active {
			outline: none;
			background: $white;
		}
	}
}


.form-login, .btn-login, .btn-regist{
	color: $white;
	margin-left: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: $dark-green;
	border: none;
	box-shadow: none;
	outline:none;
}

.btn-login, .btn-regist{
	border-radius: 0;
}

.btn-login{
	width: 30%
}
.btn-regist{
	width: 70%;
}

.btn-login:hover, .btn-regist:hover{
	background-color: $white;
	color: $dark;

}

.form-login{
	width: 100%;
}

.form-control-wrapper{
	display: flex;
	align-items: baseline;
	width: 100%;
	background-color: $dark-green;
}

input::placeholder{
			color: $white;
		}

.controls {
	#price-range {
		border: none;
		background: $gray25;
		border-radius: 0;
		.ui-slider-range {
			background: $gray-900;
		}
	}
}

.textinputs {
	@extend .clearfix;
	padding: 1.5rem 0;
	input {
		width: 4rem;
		display: block;
		float: left;
	}
	input:last-child {
		float: right;
	}
}

#price-min{
	border: none;
	margin-left: -.4rem;

}

#price-max{
	border: none;
	margin-right: -2.1rem;

}

#price-min::before{
	content:"$";

}

#price-max::before{
	content:"$";

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: 4px solid $primary !important;
	border-radius: 50%;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}

.ui-state-active{
	background-color: $white !important;

}



.controls .ui-slider-horizontal {
	height: 6px;
}

.controls .ui-slider-horizontal .ui-slider-handle {
	top: -7px;
	margin-left: -.6em;
}
